<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- 定义调度工厂：指定生产哪个任务类 -->
	<!-- 如果要想进行任务的处理，则一定需要有一个任务调度的工厂类 -->
	<bean id="taskFactory" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<!-- 任务工厂里面需要明确的设置出要执行本次任务所需要的任务类，而这个任务要求继承QuartzJobBean父类 -->
		<property name="jobClass" value="cn.mldn.mldnspring.task.MyTask"/>
		<property name="jobDataMap">				<!-- 定义一些任务的相关配置信息 -->
			<map>
				<entry key="timeout" value="0"/>	<!-- 任务启动后不延迟，立即执行 -->
			</map>
		</property>
	</bean>

<!-- 定义触发器：定时（CRON）or间隔 -->
	<!-- 要定义任务触发的工厂类，主要是定义任务的执行类型 -->
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="taskFactory"/>	<!-- 引用任务处理类 -->
		<property name="repeatInterval" value="1000"/>	<!-- 任务间隔时间 -->
	</bean>
	
	<!-- 要定义任务触发的工厂类，使用CRON进行任务的触发操作 -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="taskFactory"/>		<!-- 定义每一次间隔触发是要执行的具体的任务详情 -->
		<property name="cronExpression" value="0 * * * * ?"/>	<!-- 设置任务的触发时间：秒为0时调度一次，也就是一分钟调度一次 -->
	</bean>
	
	<!-- 配置任务的执行调度器 指定使用哪个触发器 -->
	<bean id="scheduleFactory"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">				<!-- 定义触发器 -->
			<array>
				<ref bean="cronTrigger" /> 	<!-- 设置任务触发器 -->
			</array>
		</property>
	</bean>

</beans>
